* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  margin-bottom: 50px;
}

.header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 7vh;
  list-style: none;
}

.footer__social_medias > ul {
  display: flex;
  list-style: none;
}

.footer__social_medias > ul img {
  width: 35px;
  height: 35px;
  margin: 0 15px;
  cursor: pointer;
}
