.banner {
  width: 100vw;
  padding: 20px;
  background: #ff660050;
  margin-bottom: 100px;
}

h1 {
  font-size: 8vw;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3px;
  -webkit-text-stroke-color: black;

  cursor: default;

  background-image: url('./public/images/books.jpg');
  background-size: contain;

  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.welcome {
  margin-bottom: 100px;
}

.advertising {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertising > P {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.advertising__button {
  background-color: #ff8839;
  padding: 5px;
  width: fit-content;
  border-radius: 9px;
  cursor: pointer;
}

.advertising__button:hover {
  transform: scale(1.1);
  background-color: #ff6600;
}

.advertising__button > a {
  font-size: 1.5em;
}
